.contenedor {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*height: 100vh;*/
}

.prueba {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*background-color: rgba(27, 27, 27, 0.7);
  width: 700px;
  height: 900px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 20px;*/
}

.home {
	border: none;
	border-radius: 50px;
	background-color: #76c893;
	color: black;
	padding: 6px 15px;
	font-size: 20px;
	cursor: pointer;
	font-family: 'Montserrat';
	font-weight: 500;
	filter: drop-shadow(1px 2px 2px grey);
	margin-top: 30px;
	width: 100px;
}

	.home:hover {
	  color: white;
	}

.formContenedor {
	text-align: end;
	background-color: #eeeeed;
	filter: drop-shadow(1px 2px 2px grey);
	/*border: solid lightgoldenrodyellow 1px;*/
	margin-top: 40px;
	border-radius: 10px;
	/*filter: drop-shadow(4px 6px 8px black);*/
}

.formContenedor h3 {
	text-align: center;
	color: #202326;
	font-family: 'Montserrat';
}

.formContenedor div {
	margin-bottom: 15px;
	padding: 10px;
}

.formContenedor label {
	color: #202326;
	margin-right: 10px;
	font-family: 'Montserrat';
}

.info section {
	color: brown;
	position: absolute;
	margin-left: 30px;
}

.info select {
	background-color: white;
	font-family: 'Montserrat';
}

.temperamentos {
	width: 310px;
	color: #202326;
	text-align: center;
	font-family: 'Montserrat';
}

.borrar {
	border: none;
	background-color: #76c893;
	color: black;
	padding: 6px 10px;
	margin-top: 5px;
	font-size: 15px;
	cursor: pointer;
	font-family: 'Montserrat';
	font-weight: 500;
	filter: drop-shadow(1px 2px 2px grey);
	border-radius: 50px;
}

.crear {
	display: flex;
	justify-content: center;
}

.crear button[disabled] {
	opacity: 0.5;
	background-color: #76c893;
	border-radius: 50px;
}

.crear button {
	border: none;
	background-color: #76c893;
	color: black;
	padding: 6px 10px;
	margin-top: 5px;
	font-size: 15px;
	cursor: pointer;
	font-family: 'Montserrat';
	font-weight: 600;
	filter: drop-shadow(1px 2px 2px grey);
	border-radius: 50px;
}
/*.crear button:hover {
  background-color: lightgoldenrodyellow;
  color: black;
}*/
