.contenedor {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*height: 100vh;*/
}

.formContenedor {
	text-align: end;
	/*background-color: #eeeeed;*/
	/*filter: drop-shadow(1px 2px 2px grey);*/
	/*border: solid lightgoldenrodyellow 1px;*/
	margin-top: 40px;
	border-radius: 10px;
	/*filter: drop-shadow(4px 6px 8px black);*/
}

.formContenedor h2 {
	text-align: center;
	color: #202326;
	font-family: 'Montserrat';
	filter: drop-shadow(1px 2px 2px grey);
}

.formContenedor div {
	margin-bottom: 15px;
	padding: 10px;
}

.formContenedor label {
	/*color: #202326;*/
	color: black;
	margin-right: 10px;
	font-family: 'Montserrat';
}

.info section {
	color: brown;
	position: absolute;
	margin-left: 30px;
}

.info input {
	border-radius: 3px;
	border: none;
	filter: drop-shadow(1px 2px 2px grey);
}

.info select {
	background-color: white;
	font-family: 'Montserrat';
	border-radius: 3px;
	border: none;
	filter: drop-shadow(1px 2px 2px grey);
}

.temperamentos {
	width: 310px;
	color: #202326;
	text-align: center;
	font-family: 'Montserrat';
	filter: none;
}

.borrar {
	border: none;
	background-color: #76c893;
	color: black;
	padding: 4px 8px;
	margin-top: 5px;
	font-size: 13px;
	cursor: pointer;
	font-family: 'Montserrat';
	font-weight: 500;
	filter: drop-shadow(1px 2px 2px grey);
	border-radius: 50px;
}

.crear {
	display: flex;
	justify-content: center;
}

.crear button[disabled] {
	opacity: 0.5;
	background-color: grey;
	border-radius: 50px;
}

.crear button {
	border: none;
	background-color: #76c893;
	color: black;
	padding: 8px 12px;
	margin-top: 5px;
	font-size: 15px;
	cursor: pointer;
	font-family: 'Montserrat';
	font-weight: 600;
	filter: drop-shadow(1px 2px 2px grey);
	border-radius: 50px;
}
.crear button:hover {
  background-color: lightgreen;
}

/*------------------*/

.formContenedorDarkMode {
	text-align: end;
	/*background-color: #eeeeed;*/
	/*filter: drop-shadow(1px 2px 2px grey);*/
	/*border: solid lightgoldenrodyellow 1px;*/
	margin-top: 40px;
	border-radius: 10px;
	/*filter: drop-shadow(4px 6px 8px black);*/
}

.formContenedorDarkMode h2 {
	text-align: center;
	color: ghostwhite;
	font-family: 'Montserrat';
}

.formContenedorDarkMode div {
	margin-bottom: 15px;
	padding: 10px;
}

.formContenedorDarkMode label {
	/*color: #202326;*/
	color: white;
	margin-right: 10px;
	font-family: 'Montserrat';
}

.infoDarkMode input {
	border-radius: 3px;
	border: none;
}

.infoDarkMode section {
	color: brown;
	position: absolute;
	margin-left: 30px;
}

.temperamentosDarkMode {
	width: 310px;
	color: white;
	text-align: center;
	font-family: 'Montserrat';
	filter: none;
}

.borrarDarkMode {
	border: none;
	background-color: #76c893;
	color: black;
	padding: 4px 8px;
	margin-top: 5px;
	font-size: 13px;
	cursor: pointer;
	font-family: 'Montserrat';
	font-weight: 500;
	border-radius: 50px;
}